* {
    font-family: Noto Sans;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
.disabled {
    display: none !important;
}
body {
  margin: 0
}
#app {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background: #191b20;
}
#app > div {
    height: 100%;
    padding: 32px 24px;
    background-color: #191b20;
    border-right: 1px solid #000;
    position: relative;
    overflow-y: scroll;
}
.groups {
    position:relative;
    min-width: 226px;
    overflow-y: unset !important;
}
.groups .item {
    position:relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    margin-bottom: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.groups .item.add {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(63, 99, 161, .3);
}
.groups .item.add .icon {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url("icons/add.svg");
}
.groups .item.account {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}
#app .create-group {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    height: 490px;
    padding: 24px 32px;
    background: #17191E;
}
.create-group .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.create-group .line .butt {
    width: 85px;
    padding: 5px 0;
    background: #5893F7;
    border-radius: 7px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}
.create-group .line .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.create-group .line .inputs {
    width: 45%;
    height: 87px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.create-group .line .inputs input {
    width: 100%;
    height: 36px;
    padding: 12px 10px;
    background: rgba(88, 147, 247, 0.2);
    border-radius: 7px;
    font-weight: normal;
    font-size: 13.33px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.3);
    border: 0;
}
.create-group .line .photo {
    width: 45%;
    height: 87px;
    padding: 12px 15px;
    background: rgba(88, 147, 247, 0.2);
    border-radius: 7px;
    font-weight: normal;
    font-size: 13.33px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.create-group .line .photo .preview {
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("icons/photo.svg");
}
.create-group .line .photo p {
    display: inline-block;
    height: 100%;
    margin-left: 20px;
    vertical-align: middle;
}
.create-group .users {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.user {
    border-radius: 7px;
    display: flex;
    align-items: center;
    min-width: 45%;
    padding: 10px;
    margin-bottom: 10px;
}
.user.chosen {
    background: rgba(88, 147, 247, 0.2);
}
.user .img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    margin-right: 14px;
    z-index: -1;
}
.user .name {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    z-index: -1;
}
.contacts {
    min-width: 344px;
    z-index: 0;
}
.contacts .search-form {
    position: relative;
}
.contacts .search-form input {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    padding: 8px 48px 8px 24px;
    background-color: #0c0e12;
    color: #fff;
    border: 0;
}
.contacts .search-form .submit-search {
    position: absolute;
    right: 12px;
    top: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    background-image: url("icons/search.svg");
}
.contacts .heading {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, .25);
    text-transform: uppercase;
    margin: 16px 8px 24px;
}
.contacts .heading.srch {
    display: none;
    justify-content: space-between;
    align-items: center;
}
.contacts .heading.srch .srch-close {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .25);
    cursor: pointer;
}
.contacts .item {
    position: relative;
    display: flex;
    margin: 0 -24px 18px;
    padding: 8px 24px;
    cursor: pointer;
}
.contacts .item > div {
    z-index: -1;
}
.contacts .item .image {
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
}
.contacts .item .name-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 14px;
}
.contacts .item .name-message .name {
    font-size: 18px;
    line-height: 18px;
    color: #fff;
}
.contacts .item .name-message .message {
    font-size: 14px;
    line-height: 14px;
    color: rgba(255, 255, 255, .5);
    letter-spacing: 0.03em;
}
.contacts .item .date {
    font-size: 11px;
    line-height: 11px;
    color: rgba(107, 111, 147, .5);
    white-space: nowrap;
    margin-top: 2px;
}
.chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chat .line {
    display: block;
    margin-bottom: 32px;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, .1);
    border-radius: 10px;
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, .25);
}
.chat .item {
    position:relative;
    display: flex;
    align-items: flex-end;
    height: fit-content;
    margin-bottom: 24px;
}
.chat .item .image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
}
.chat .item .message {
    min-width: 150px;
    max-width: 503px;
    width: fit-content;
    padding: 8px;
    margin: 0 18px;
    background: #29292e;
    border-radius: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, .7);
}
.chat .item .message .name-time {
    display: flex;
    justify-content: space-between;
}
.chat .item .message .name-time .mess-name {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 16px;
    color: #3063bb;
}
.chat .item .message .name-time .time {
    color: rgba(107, 111, 147, .8);
}
.chat .item .message .text-file a {
    color: #3063bb;
}
.chat .item.outgoing {
    flex-direction: row-reverse;
}
.chat .item.outgoing .message {
    background: #1f2735;
}
.chat .message-form {
    position: relative;
    margin-top: 8px;
}
.chat .message-form input {
    width: 100%;
    min-height: 48px;
    max-height: 72px;
    height: fit-content;
    border-radius: 10px;
    padding: 12px 80px 12px 24px;
    background-color: #0c0e12;
    color: #fff;
    border: 0;
}
.chat .message-form .submit-send {
    position: absolute;
    right: 32px;
    top: 11px;
    display: inline-block;
    width: 24px;
    height: 25px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    background-image: url("icons/send.svg");
}
.files {
    min-width: 289px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.files .heading {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, .25);
    text-transform: uppercase;
    margin-bottom: 24px;
}
.files .item {
    position: relative;
    width: 241px;
    background: #12151B;
    border-radius: 10px;
    padding: 10px 53px 6px 20px;
    margin-bottom: 16px;
}
.files .item .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    display: inline-block;
    width: 21px;
    height: 20px;
    background-image: url("icons/file-arrow.svg");
}
.files .item .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.files .item .size {
    display: inline-block;
    font-weight: normal;
    font-size: 11.11px;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.5);
}
.files .item .size:after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 10px 2px;
}
.files .item .date {
    display: inline-block;
    font-weight: normal;
    font-size: 11.11px;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.5);
}



.chat .upload-form {
    margin: 0 0 0 auto;
    width: fit-content;
}
.chat .upload-form input {
    color: #fff;
}

.files .delete {
    position:absolute;
    bottom: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, .25);
    text-transform: uppercase;
    cursor: pointer;
}
.files .delete:hover {
    color: rgba(255, 255, 255, 0.808);
}

.contacts .azaz {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #5893F733;
    border-left: 2px solid rgba(88, 147, 247, .6);
}

.groups .azaz {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 5px solid rgba(88, 147, 247, .8);
}